<h2>agregar producto:</h2>
<hr>
<form action="/api/products" method="post" class="formulario-registro">


 
    <input type="text" name="title"  placeholder="Ingresa el titulo" >
 

 
    <input type="text" name="description"  placeholder="Ingresa la descripcion" >


 
    <input type="number" name="price"  placeholder="Ingresa el precio" >


 
    <input type="number" name="stock"  placeholder="Ingresa el stock">
 

  
    <input type="text" name="code"  placeholder="Ingresa el codigo" >
 

   
    <input type="text" name="category" placeholder="Ingresa la categoria" >
  

 
    <input  type="submit" value="crear">

</form>

{{>menu}}