<h2>Carts</h2>
<hr />
<h2></h2>

<div>
  {{#each carts}}
  <div>
    <p>carts:{{this._id}}, ir al carrito: <a href="/cart/{{this._id}}">click aqui</a></p>
    
    {{!-- <li id="producto-{{_id}}">{{title}}</li></div> --}}
  {{/each}}
</div>
<a href="/">home</a>
  
    {{>menu}}