<h2>Home Page</h2>
<hr />
<h2>Links:</h2>

<br /><br />

<br /><br />
<br /><br />
<a href="/realtimeproducts">Real time Products</a>
<a href="/chat">Chat</a>
<a href="/carts">Cart</a>
<a href="/products">Products</a>
{{>menu}}