<ul class="menu">
  <li>
    <a href="/">Home Page</a>
  </li>
  {{#if login}}
{{#if id}}
 
   <li><a style="font-size: 20px;"  href="/cart/{{id._id}}">ir al Carrito</a></li>
    {{/if}}
  
  
  {{/if}}
</ul>